h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 1460px;
  margin: auto;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 150ms ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-counter,
.sl-close,
.sl-prev,
.sl-next {
  color: #fff !important;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background-color: #fff;
  padding: 24px;
  width: 408px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  letter-spacing: 1px;
}

input {
  font-family: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 8px;
  width: 360px;
  height: 40px;
  letter-spacing: 1px;
}

input:hover {
  border: 1px solid black;
}

button {
  font-family: inherit;
  font-size: 16px;
  padding: 8px 16px;
  height: 40px;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 1px;
  border: 0;
  transition-duration: 250ms;
}

button:hover {
  background-color: #6c8cff;
}

textarea {
  resize: none;
  font-family: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 8px;
  width: 360px;
  letter-spacing: 1px;
  height: 80px;
}